name: Poliswag CI Pileine

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.3'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint code with Black
      run: |
        pip install black
        black --check .

    - name: Check for secrets
      uses: gitleaks/gitleaks-action@v2
      with:
        config-path: ""  # Uses default secret detection rules

    - name: Check for TODOs
      run: |
        grep -r "TODO" . || true

    - name: Check for dead code with Vulture
      run: |
        pip install vulture
        vulture . --min-confidence 70
